certifi==2018.11.29
chardet==3.0.4
click==7.0
decorator==4.2.1
idna==2.8
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
livereload==2.6.0
Markdown==3.0.1
MarkupSafe==1.1.0
mkdocs==0.17.5
nbformat==4.4.0
plotly==3.4.2
pytz==2018.7
PyYAML==3.13
requests==2.21.0
six==1.12.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
