{% extends "layout.html" %}
{% block title %}{{ this.name }}{% endblock %}

{% block body %}
  <div class="container games-site">
    <div class="row">
      <div class="back-link">
        <a href="{{ this.parent|url }}">Back to Games</a>
      </div>
      <h1>{{ this.name }}</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{ this.description }}
      </div>
    </div>
    {% if this.cover_image %}
      {% set image = this.attachments.get(this.cover_image) %}
      <div class="frame"><img src="{{ image.thumbnail(480)|url }}" width="50%" alt=""></div>
    {% endif %}
    <h2>Rules of this Game</h2>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{ this.rules }}
      </div>
    </div>
  </div>
{% endblock %}