{% extends "layout.html" %}

{% block title %}Games{% endblock %}


{% block body %}
  <h1>Games</h1>
  <p>
    Want to see what Lektor is used for?  This should give you a brief overview
    of what projects are built on the basis of Lektor.  We take good care of
    ensuring this list stays up to date by carefully moderating it.
  <p>
    Click any of the showcases to learn a bit more about how it uses Lektor.
  <div class="games row">
    {% for project in this.children %}
      <div class="project col-md-6">
        <a href="{{ project|url }}">
          <h2>{{ project.name }}</h2>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}